Content-Type: text/html; charset=utf-8

<html>
<body>
    <div style="border: solid 1px black">
        <h2>Hello, @ViewBag.PersonName</h2>
        <h4>Welcome to Briefcase!</h4>
        <br />
    </div>
</body>
</html>