<div>
    <input type="text" ng-model="newName" placeholder="Name" />
    <input type="text" ng-model="newAddress" placeholder="Address" />
    <input type="text" ng-model="newPhone" placeholder="Phone Number" />
    <input type="text" ng-model="newEmail" placeholder="Email Address" />
    <input type="button" ng-click="postToFb()" class="btn btn-default" value="Submit" />
    <!--<input type="button" ng-click="performUpdate()" class="btn btn-default" value="Update" ng-show="isEditing" />-->
</div>
