<div class="form-group">
    <input type="text" ng-model="newName" placeholder="Name" class="form-control col-md-3" />
    <input type="text" ng-model="newAddress" placeholder="Address" class="form-control col-md-3" />
    <input type="text" ng-model="newPhone" placeholder="Phone Number" class="form-control col-md-3" />
    <input type="text" ng-model="newEmail" placeholder="Email Address" class="form-control col-md-3" />
    <input type="button" ng-click="postToFb()" class="btn btn-default" value="Submit" />
    <!--<input type="button" ng-click="performUpdate()" class="btn btn-default" value="Update" ng-show="isEditing" />-->
</div>
