<div>
    
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in showArray">
                <td>{{contact.name}}</td>
                <td>{{contact.address}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
